body{
    margin: auto;
    background-color:aqua;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


ul{
    list-style-type: none;
    padding-left: 0%;
    width : 100%;
    max-width: 500px;
}


.page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.custom-button{
    background-color: aquamarine;
    color: black;
    width: 100%;
    height: 50px;
    text-align: center;
    word-wrap: break-word;
}

.modal-prev, .modal-next{
    font-size: 20px;
}

.modal-prev, .modal-next{
    border: 0;
    background: none;
    color: #777;
    font-weight: bold;
}


.modal-image-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal-picture{
    width:25%;
    aspect-ratio: 1 / 1;
}

.logo{
    width: 100%;
    max-width: 250px;
}

@media all and (max-width: 500px){
    .navbar{
        display: flex;
        justify-content: center;
    }
}

header{
    background: aqua;
}


